<h1>Resultados Elecciones Generales al Congreso - <%= comunidad(@comunidad)[2][@provincia.to_sym][2][@municipio.to_sym][1] %></h1>

<% if @comunidades[params[:comunidades].to_sym][2].size > 1  %>

	<ul class="breadcrumb">
		<li><a href="/">Elecciones</a> <span class="divider">/</span></li>
		<li><a href="/generales/">Generales</a> <span class="divider">/</span></li>
		<li><a href="/generales/<%= @comunidad %>"><%= comunidad(@comunidad)[1] %></a><span class="divider">/</span></li>
		<li><a href="/generales/<%= @comunidad %>/<%= @provincia %>"><%= comunidad(@comunidad)[2][@provincia.to_sym][1] %></a><span class="divider">/</span></li>
		<li class="active"><%= (@doc/:nombre_sitio).text %></li>
	</ul>

	<% else %>

	<ul class="breadcrumb">
		<li><a href="/">Elecciones</a> <span class="divider">/</span></li>
		<li><a href="/generales/">Generales</a> <span class="divider">/</span></li>
		<li><a href="/generales/<%= @comunidad %>"><%= comunidad(@comunidad)[1] %></a><span class="divider">/</span></li>
		<li class="active"><%= (@doc/:nombre_sitio).text %></li>
	</ul>

<% end %>

<h2><%= (@doc/:nombre_sitio).text %></h2>

<% if (@doc/:antes_inicio ).text.to_i == 1 %>

	<div class="alert-message info">
		<p><strong>Sin datos aún</strong></p>
	</div>

	<% else %>

	<div class="escrutinio">
		<% if (@doc/:ts).text.to_i != 0 %>

		<div class="alert-message warning">
			<p><strong>Resultados provisionales.</strong> Hora de escrutinio: <%= Time.at((@doc/:ts).text.to_i).strftime("%H:%M") %> </p>
		</div>

		<% else %>

		<div class="alert-message success">
			<p><strong>Escrutinio al 100%</strong></p>
		</div>


		<% end %>
	</div>


	<form class="pull-right">
		<label>Municipios:</label>
		<div class="input">
			<select onchange="if (this.value) window.location.href=this.value">
					<option value="">--Selecciona municipio--</option>
				<% @comunidades[params[:comunidades].to_sym][2][params[:provincias].to_sym][2].sort_by{|a,b| b[1]}.each do |elem|  %>

					<option value="<%= elem[0] %>" <% if @municipio.to_s == elem[0].to_s %> <%= selected="selected" %> <% end %>>
						<%= elem[1][1] %>
					</option>

				<% end %>
			</select>
		</div>
	</form>

	<table id="sort-table" class="bordered-table zebra-striped resultados-congreso">
			<thead>
				<tr>
					<th>Partido</th>
					<th>Votos</th>
					<th>Porcentaje</th>
				</tr>
			</thead>
			<% (@doc/:partido).each do |partido| %>
			<tr>
				<td sortvalue="<%= (partido/:nombre).text %>"><%= (partido/:nombre).text.upcase %></td>
				<td sortvalue="<%= (partido/:votos_numero).text %>"><%= ts((partido/:votos_numero).text) %></td>
				<td sortvalue="<%= (partido/:votos_porciento).text %>"><%= (partido/:votos_porciento).text + " %" %></td>
			</tr>
			<% end %>
	</table>

<% end %>