<h1>Resultados Elecciones Autonómicas 2012</h1>
<a href="/generales/" class="to-generales">Ver Elecciones Generales 2011</a>

<div class="columna-autonomica clearfix">
  <h2 class="to-detail"><a href="/andalucia" title="Ver resultados completos de Andalucía">Andalucía</a></h2>


<% if (@doc_an/:antes_inicio ).text.to_i == 2 %>

  <div class="alert-message info">
    <p><strong>Sin datos aún</strong></p>
  </div>

  <% else %>

  <div class="escrutinio">
    <% if (@doc_an/:ts).text.to_i != 0 %>

    <div class="alert-message warning">
      <p><strong>Resultados provisionales.</strong> Hora de escrutinio: <%= Time.at((@doc_an/:ts).text.to_i).strftime("%H:%M") %> </p>
    </div>

    <% else %>

    <div class="alert-message success">
      <p><strong>Escrutinio al 100%</strong></p>
    </div>


    <% end %>
  </div>

  <form class="pull-right">
    <label>Provincias:</label>
    <div class="input">
      <select onchange="if (this.value) window.location.href=this.value">
        <option value="" selected="selected">--Selecciona provincia--</option>
      <% @comunidades[:andalucia][2].sort_by{|a,b| b[1]}.each do |elem|  %>

        <option value="/andalucia/<%= elem[0] %>"><%= elem[1][1] %></option>

      <% end %>
      </select>
    </div>
  </form>

  <table id="sort-table" class="bordered-table zebra-striped resultados-congreso table-home">
      <thead>
        <tr>
          <th>Partido</th>
          <th>Votos</th>
          <th>Porcentaje</th>
          <th>Escaños</th>
        </tr>
      </thead>
      <% (@doc_an/:partido).each do |partido| %>

        <% existe_anterior = !(@compara_an / "//partido/nombre[text()='#{(partido/:nombre).text}']/../electos" ).empty?  %>

        <% anterior = (@compara_an / "//partido/nombre[text()='#{(partido/:nombre).text}']/../electos" ).text.to_i %>
        <% diferencia = (partido/:electos).text.to_i - anterior  %>

      <tr>
        <td sortvalue="<%= (partido/:nombre).text %>"><%= (partido/:nombre).text.upcase %></td>
        <td sortvalue="<%= (partido/:votos_numero).text %>"><%= ts((partido/:votos_numero).text) %></td>
        <td sortvalue="<%= (partido/:votos_porciento).text %>"><%= (partido/:votos_porciento).text + " %" %></td>
        <td sortvalue="<%= (partido/:electos).text %>">

          <span class="data"><%= (partido/:electos).text %></span>

            <% if (anterior != 0 && existe_anterior == true) && (partido/:electos).text.to_i != 0 %>



                <% if diferencia < 0 %>
                  <span class="label important"><%= "#{diferencia} ESCAÑOS"%></span>
                <% elsif diferencia > 0 %>
                  <span class="label success"><%= "+#{diferencia} ESCAÑOS"%></span>
                <% elsif diferencia == 0 %>
                  <span class="label notice">=</span>
              <% end %>

            <% elsif existe_anterior == false && (partido/:electos).text.to_i != 0 %>

                <span class="label success"><%= "+#{diferencia} ESCAÑOS"%></span>

            <% end %>

        </td>
      </tr>
      <% end %>
  </table>

<% end %>
</div>

<div class="columna-autonomica clearfix">
  <h2 class="to-detail"><a href="/asturias" title="Ver resultados completos de Asturias">Asturias</a></h2>

<% if (@doc_as/:antes_inicio ).text.to_i == 2 %>

  <div class="alert-message info">
    <p><strong>Sin datos aún</strong></p>
  </div>

  <% else %>

  <div class="escrutinio">
    <% if (@doc_as/:ts).text.to_i != 0 %>

    <div class="alert-message warning">
      <p><strong>Resultados provisionales.</strong> Hora de escrutinio: <%= Time.at((@doc_as/:ts).text.to_i).strftime("%H:%M") %> </p>
    </div>

    <% else %>

    <div class="alert-message success">
      <p><strong>Escrutinio al 100%</strong></p>
    </div>


    <% end %>
  </div>

    <form class="pull-right">
    <label>Municipios:</label>
    <div class="input">
      <select onchange="if (this.value) window.location.href=this.value">
        <option value="" selected="selected">--Selecciona municipio--</option>
      <% @comunidades[:asturias][2][:asturias][2].sort_by{|a,b| b[1]}.each do |elem|  %>

        <option value="/asturias/asturias/<%= elem[0] %>"><%= elem[1][1] %></option>

      <% end %>
      </select>
    </div>
  </form>
  <p class="c-b">La comparación en Asturias se realiza con los resultados electorales de 2007</p>
  <table id="sort-table" class="bordered-table zebra-striped resultados-congreso table-home">
      <thead>
        <tr>
          <th>Partido</th>
          <th>Votos</th>
          <th>Porcentaje</th>
          <th>Escaños</th>
        </tr>
      </thead>
      <% (@doc_as/:partido).each do |partido| %>

        <% existe_anterior = !(@compara_as / "//partido/nombre[text()='#{(partido/:nombre).text}']/../electos" ).empty?  %>

        <% anterior = (@compara_as / "//partido/nombre[text()='#{(partido/:nombre).text}']/../electos" ).text.to_i %>
        <% diferencia = (partido/:electos).text.to_i - anterior  %>

      <tr>
        <td sortvalue="<%= (partido/:nombre).text %>"><%= (partido/:nombre).text.upcase %></td>
        <td sortvalue="<%= (partido/:votos_numero).text %>"><%= ts((partido/:votos_numero).text) %></td>
        <td sortvalue="<%= (partido/:votos_porciento).text %>"><%= (partido/:votos_porciento).text + " %" %></td>
        <td sortvalue="<%= (partido/:electos).text %>">

          <span class="data"><%= (partido/:electos).text %></span>

            <% if (anterior != 0 && existe_anterior == true) && (partido/:electos).text.to_i != 0 %>



                <% if diferencia < 0 %>
                  <span class="label important"><%= "#{diferencia} ESCAÑOS"%></span>
                <% elsif diferencia > 0 %>
                  <span class="label success"><%= "+#{diferencia} ESCAÑOS"%></span>
                <% elsif diferencia == 0 %>
                  <span class="label notice">=</span>
              <% end %>

            <% elsif existe_anterior == false && (partido/:electos).text.to_i != 0 %>

                <span class="label success"><%= "+#{diferencia} ESCAÑOS"%></span>

            <% end %>

        </td>
      </tr>
      <% end %>
  </table>

<% end %>
</div>

