<!doctype html>
<html lang="es">

<head>
	<title>Resultados Elecciones <%= @title %></title>
	<meta name="description" content="Resultados Elecciones Generales 2011 <%= @title %>" />
	<meta name="keywords" content="elecciones 2011, resultados elecciones, elecciones generales, resultados comunidades, resultados provincias, resultados municipios" />

	<meta charset="utf-8" />

	<link rel="stylesheet" href="/css/bootstrap-1.4.0.min.css" />
	<link rel="stylesheet" href="/css/elecciones.css" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	<script src="/js/jquery.tablesorter.min.js"></script>
	<script src="/js/jquery.metadata.min.js"></script>
	<script src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>

	<script >

		$(function() {
			var myTextExtraction = function(node)
			{
			    // extract data from markup and return it
			    return node.getAttribute('sortvalue');
			}
			$("#sort-table").tablesorter({
				sortList: [[1,1]],
				textExtraction: myTextExtraction
				});
			$.fn.maphilight.defaults = {
					fill: true,
					fillColor: '000000',
					fillOpacity: 0,
					stroke: true,
					strokeColor: 'ff0000',
					strokeOpacity: 0,
					strokeWidth: 1,
					fade: true,
					alwaysOn: true,
					neverOn: false,
					groupBy: false,
					wrapClass: true,
					shadow: false,
					shadowX: 0,
					shadowY: 0,
					shadowRadius: 6,
					shadowColor: '000000',
					shadowOpacity: 0.8,
					shadowPosition: 'outside',
					shadowFrom: false
			}
			$('.map').maphilight();
		});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27158088-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>


	<div class="container">


		<%= yield %>

		<footer>
			<p class="pull-right">Twitter: <a href="https://twitter.com/#!/davidmatas">@davidmatas</a></p>
			Realizado por <a href="http://www.piscolabis.es" title="Diseño web">Piscolabis</a> con datos de ELPAIS. Funciona con <a href="http://www.sinatrarb.com/">Sinatra</a> y <a href="http://twitter.github.com/bootstrap/">Bootstrap, from Twitter</a>
		</footer>
	</div>



</body>
</html>



