<h1>Resultados Elecciones Autonómicas en <%= comunidad(@comunidad)[1]%> - <%= comunidad(@comunidad)[2][@provincia.to_sym][1] %></h1>
<ul class="breadcrumb">
	<li><a href="/">Elecciones</a> <span class="divider">/</span></li>
	<li><a href="/<%= @comunidad %>"><%= comunidad(@comunidad)[1] %></a><span class="divider">/</span></li>
	<li class="active"><%= (@doc/:nombre_sitio).text %></li>
</ul>

<h2><%= (@doc/:nombre_sitio).text %></h2>

<% if (@doc/:antes_inicio ).text.to_i == 2 %>

	<div class="alert-message info">
		<p><strong>Sin datos aún</strong></p>
	</div>

	<% else %>

	<div class="escrutinio">
		<% if (@doc/:ts).text.to_i != 0 %>

		<div class="alert-message warning">
			<p><strong>Resultados provisionales.</strong> Hora de escrutinio: <%= Time.at((@doc/:ts).text.to_i).strftime("%H:%M") %> </p>
		</div>

		<% else %>

		<div class="alert-message success">
			<p><strong>Escrutinio al 100%</strong></p>
		</div>


		<% end %>
	</div>

	<form class="pull-right">
		<label>Municipios:</label>
		<div class="input">
			<select onchange="if (this.value) window.location.href=this.value">
				<option value="" selected="selected">--Selecciona municipio--</option>
			<% @comunidades[params[:comunidades].to_sym][2][params[:provincias].to_sym][2].sort_by{|a,b| b[1]}.each do |elem|  %>

				<option value="<%= @provincia %>/<%= elem[0] %>"><%= elem[1][1] %></option>

			<% end %>
			</select>
		</div>
	</form>

	<table id="sort-table" class="bordered-table zebra-striped resultados-congreso">
			<thead>
				<tr>
					<th>Partido</th>
					<th>Votos</th>
					<th>Porcentaje</th>
					<th>Escaños</th>
				</tr>
			</thead>
			<% (@doc/:partido).each do |partido| %>

			<% existe_anterior = !(@compara / "//partido/nombre[text()='#{(partido/:nombre).text}']/../electos" ).empty?  %>

			<% anterior = (@compara / "//partido/nombre[text()='#{(partido/:nombre).text}']/../electos" ).text.to_i %>
			<% diferencia = (partido/:electos).text.to_i - anterior  %>

			<tr>
				<td sortvalue="<%= (partido/:nombre).text %>"><%= (partido/:nombre).text.upcase %></td>
				<td sortvalue="<%= (partido/:votos_numero).text %>"><%= ts((partido/:votos_numero).text) %></td>
				<td sortvalue="<%= (partido/:votos_porciento).text %>"><%= (partido/:votos_porciento).text + " %" %></td>
				<td sortvalue="<%= (partido/:electos).text %>">
					<span class="data"><%= (partido/:electos).text %></span>

						<% if (anterior != 0 && existe_anterior == true) && (partido/:electos).text.to_i != 0 %>

							<% diferencia = (partido/:electos).text.to_i - anterior  %>

								<% if diferencia < 0 %>
									<span class="label important"><%= "#{diferencia} ESCAÑOS"%></span>
								<% elsif diferencia > 0 %>
									<span class="label success"><%= "+#{diferencia} ESCAÑOS"%></span>
								<% elsif diferencia == 0 %>
									<span class="label notice">=</span>
							<% end %>

						<% elsif existe_anterior == false && (partido/:electos).text.to_i != 0 %>

								<span class="label success"><%= "+#{diferencia} ESCAÑOS"%></span>

						<% end %>

				</td>
			</tr>
			<% end %>
	</table>

<% end %>