/****Clearfix****/
.clearfix:after  {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.clearfix        {display: inline-block}

/* Start Commented Backslash Hack \*/
* html .clearfix {height: 1%}
.clearfix        { display: block}
/* Close Commented Backslash Hack */

.f-r {float: right !important}
.c-n {clear: none !important}
.c-b {clear: both !important}
.mbm {margin-bottom: 10px !important}

nav {margin-bottom: 30px}
nav a {margin-bottom: 12px; margin-right: 5px}
.resultados-congreso td .data {margin-right: 5px; width: 30px; display: inline-block}
.resultados-congreso td .label {float: right; padding: 0 3px}
footer {padding-bottom: 17px; clear: both}

.to-detail a:after {font-size: 11px !important; font-weight: normal; content: "(ver detalle)"; margin-left: 10px}

.escrutinio						{float: left}
.escrutinio .success {width: 120px; text-align: center}
.escrutinio .warning {width: 315px; text-align: center}

.map-wrapper {float: right}
.map-wrapper dl {position: relative; z-index: 1; left: -70px; top: 170px; width: 185px}
.map-wrapper dt {width: 20px; height: 15px; display: inline-block; vertical-align: middle}
.map-wrapper dd {display: inline-block}

.map-wrapper dt.d {background-color: #025D8C; border: 1px solid #013c5a}
.map-wrapper dt.i {background-color: #A80000; border: 1px solid #860000}
.map-wrapper dt.o {background-color: #FF9500; border: 1px solid #cc7700}

.table-home {float: left; width: 500px; clear: both}

.container {padding-top: 20px; position: relative}
.container .to-generales {position: absolute; right: 0px; top: 33px}
.container .to-generales:after {content: "→"}

.columna-autonomica {width: 450px; float: left}
.columna-autonomica:nth-child(2n) {float: right}
.columna-autonomica .table-home {width: 450px}
.columna-autonomica .pull-right  {width: auto}
.columna-autonomica .pull-right .input {margin-left: 0}
.columna-autonomica .pull-right label {display: block; width: auto; float: left; margin-bottom: 4px}

